<div class="footer-secondary p-2 grid grid-cols-1 md:grid-cols-2 justify-between">
    <p>
        {{ 'FOOTER.CONTACT' | translate }}:
        <a [href]="'mailto:'+contact">{{ contact }}</a>
    </p>
    <p class="md:text-right">
        {{ 'FOOTER.DATA' | translate }}:
        <!-- TODO Por seguridad adóitase meter o noreferer, noopener en principio xa non porque os navegadores xa o aplican por defecto-->
        <a href="https://unsplash.com" target="_blank" rel="noreferrer">unsplash.com</a>
    </p>
</div>
